body{
	margin: 0 0;
}

.mainContainer{
	position: absolute;
	left:0px;
	top:0px;
	height: 100%;
	width: 100%;
	margin: 0 0;
	background-color: #ffffff;

}

.mosaicDivContainer{
	position: absolute;
	left:0;
	top:30%;
	height: 70%;
	width: 70%;
	margin: 0 0;
	background-color: #cccccc;
}

.timelineDivContainer{
	position: absolute;
	left:0;
	top:8%;
	height: 15%;
	width: 70%;
	border: 1px black solid;
	background-color: white;
}
.sliderDivContainer{
	position: absolute;
	left:0;
	top:23%;
	height: 7%;
	width: 70%;
}

.lensSizeContainerDiv{
	position: absolute;
	left:10%;
	top:25%;
	height: 50%%;
	width: 30%;
}

.zoomSizeContainerDiv{
	position: absolute;
	left:60%;
	top:25%;
	height: 50%;
	width: 30%;
}


.mosaicSvg{
	height: 100%;
	width: 100%;
}

.line{
    stroke: steelblue;
    stroke-width: 2;
    fill: none;

}
.axis{
    stroke: black;
    stroke-width: 2;
    fill: none;

}

.timeWindow{
	fill: none;
    stroke: black;
}

.chooserDivContainer{
	position: absolute;
	left:0;
	top:1%;
	height: 6%;
	width: 70%;
}
.zoomDivContainer{
	position: absolute;
	left:0;
	top:0;
	height: 50%;
	width: 50%;
	background-color: white;
	visibility: hidden;
}

.zoomSquareDiv{
	position: absolute;
}

.zoomTitleBar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5%;
	width: 100%;
	background-color: #888888;
}
.zoomContentContainer{
	position: absolute;
	top: 6%;
	left: 0%;
	height: 94%;
	width: 100%;
}
