body{
	margin: 0 0;
}

.mainContainer{
	position: absolute;
	left:0px;
	top:0px;
	height: 100%;
	width: 100%;
	margin: 0 0;
	background-color: #ffffff;

}
.mosaicTopDivContainerLeft{
	position: absolute;
	left:0;
	top:34%;
	height: 5%;
	width: 34%;
	margin: 0 0;
	text-align: center;
}

.mosaicTopDivContainerRight{
	position: absolute;
	left:36%;
	top:34%;
	height: 5%;
	width: 34%;
	margin: 0 0;
	text-align: center;
}

.mosaicTopDivContainerCenter{
	position: absolute;
	left: 25%;
    top: 34%;
    height: 5%;
    width: 20%;
	margin: 0 0;
	text-align: center;
	z-index: 10;
}


.mosaicDivContainerLeft{
	position: absolute;
	left:0;
	top:39%;
	height: 50%;
	width: 34%;
	margin: 0 0;
	background-color: #cccccc;
}
.mosaicDivContainerRight{
	position: absolute;
	left:36%;
	top:39%;
	height: 50%;
	width: 34%;
	margin: 0 0;
	background-color: #cccccc;
}

.swordDivContainerLeft{
	position: absolute;
	left:0;
	top:0%;
	height: 33%;
	width: 25%;
	margin: 0 0;
	
}
.swordDivContainerRight{
	position: absolute;
	left:36%;
	top:0%;
	height: 33%;
	width: 25%;
	margin: 0 0;
	
}
.overallStarPlotDivContainerLeft{
	position: absolute;
	left:70%;
	top:30%;
	height: 20%;
	width: 30%;
}
.overallStarPlotDivContainerRight{
	position: absolute;
	left:70%;
	top:50%;
	height: 20%;
	width: 30%;
}
.knnDivContainer{
	position: absolute;
	left:70%;
	top:70%;
	height: 30%;
	width: 30%;
}

.starPlotDivContainerLeft{
	position: absolute;
	left:25%;
	top:0%;
	height: 33%;
	width: 9%;
}
.starPlotDivContainerRight{
	position: absolute;
	left:61%;
	top:0%;
	height: 33%;
	width: 9%;
}


.leftTimelineDivContainer{
	position: absolute;
	left:0;
	top:90%;
	height: 9.5%;
	width: 34%;
	border: 1px black solid;
	background-color: white;
}
.rightTimelineDivContainer{
	position: absolute;
	left:36%;
	top:90%;
	height: 9.5%;
	width: 34%;
	border: 1px black solid;
	background-color: white;
}
.sliderDivContainer{
	position: absolute;
	left:0%;
	top:0%;
	height: 40%;
	width: 100%;
}

.lensSizeContainerDiv{
	position: absolute;
	left:20%;
	top: 5%;
	height: 45%;
	width: 60%;
}

.zoomSizeContainerDiv{
	position: absolute;
	left:20%;
	top:55%;
	height: 45%;
	width: 60%;
}

.lensSizeLabelDiv{
	position: absolute;
	left:0%;
	top: 5%;
	height: 45%;
	width: 60%;
}

.zoomSizeLabelDiv{
	position: absolute;
	left:0%;
	top:55%;
	height: 45%;
	width: 60%;
}

.actionChooserContainerDiv{
	position: absolute;
	left:0%;
	top:40%;
	height: 20%;
	width: 100%;
}
.chooserDivContainer{
	position: absolute;
	left:0;
	top:70%;
	height: 30%;
	width: 100%;
}

.mosaicSvg{
	height: 100%;
	width: 100%;
}

.line{
    stroke: steelblue;
    stroke-width: 2;
    fill: none;

}
.swordLine{
	stroke: white;
    stroke-width: 5;
    fill: none;
}

.lineRight{
    stroke: #cc0000;
    stroke-width: 2;
    fill: none;

}
.axis{
    stroke: black;
    stroke-width: 2;
    fill: none;

}

.timeWindow{
	fill: none;
    stroke: black;
}


.zoomDivContainer{
	position: absolute;
	left:0;
	top:0;
	height: 50%;
	width: 50%;
	background-color: white;
	visibility: hidden;
}

.zoomSquareDiv{
	position: absolute;
}

.zoomTitleBar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5%;
	width: 100%;
	background-color: #888888;
}
.zoomContentContainer{
	position: absolute;
	top: 6%;
	left: 0%;
	height: 94%;
	width: 100%;
}

.starPlotAxis{
	stroke-width: 1;
	stroke: rgba(1, 1, 1, 0.25);

}

.starPlotPath{
	stroke: black;
	fill: orange;
}
.overallStarPlotPath{
	stroke: orange;
	fill: transparent;
}

.toolBoxDiv{
	position: absolute;
	left:70%;
	top:0%;
	height: 30%;
	width: 30%;

	border: solid 1px black;
}

.loadingDiv{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	opacity: 0.7;

}
.loadingSpinnerDiv{
	position: absolute;
	left: 40%;
	top: 40%;
	width: 20%;
	height: 20%;
	text-align: center;
}